aside {
    background-image: linear-gradient(white, grey);
    width: 200px;
    padding:10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    color:#2b2b2b;
    transition: color 0.3s;
    font-size: 25px;
}

a:hover{
    color:#2b2bb2;
}

.avatar{
    position: absolute;
    bottom: 5px;
    
}
.links{
    display:flex;
    flex-direction: column;
    margin-top: 35px;
}

i{
    margin-left: 25px;
    font-size: 30px;
}
h6{
    font-size: 20px;
}


