.container{
    font-style:normal;
    display: flex;
    flex-direction: column;
    orientation: vertical;
    max-width: 400px;
    font-size: 24px ;
}

img{   
    width: 100%;
    max-height: 300px;     
}
div.text{
    padding:10px;
    border: 1px solid grey;
    
}
div.image{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}

a{
    margin-right: 15px;
}
